<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Volunteer Tracker</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-success">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a class="navbar-brand" href="\">Home</a>
          </div>
        </div>
      </div>
    </nav>
    <div id="main" class="container">
    <%= yield %>
    </div>
  </body>

</html>
