
  <h1><%= @project.title %></h1>
  <div class="row">

      <a href="/projects/<%=@project.id%>/edit"><button type="submit" class="btn btn-warning">Edit Project</button></a>


  </div>
  <h2>Volunteers:</h2>
  <ol>
    <% @project.volunteers.each do |volunteer| %>
      <a href="/volunteer/<%= volunteer.id %>"><li><%= volunteer.name %></li></a>
    <% end %>
  </ol>
